services:
  web:
    image: kobums/gym_web:${VERSION:-latest}
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
      args:
        - BUILDKIT_INLINE_CACHE=1
      shm_size: '2gb'
    container_name: gym_web
    ports:
      - '9004:9004'
    volumes:
      - ./data:/app/data
      - ./config:/app/config
    env_file:
      - .env
    restart: unless-stopped
    environment:
      - NODE_ENV=production